
.header-contents {
    top: 10px;
    margin-left:30px;
}

.modal-popup-screen-background {
    z-index: 9000
}

.error-header {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    padding-left: 5%;
    padding-right: 5%;
}

.error-note {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}