
.question {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    margin: auto;
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.question .question-body {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    width: auto;
    margin: auto;
    height: auto;
}

.hbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.hbox-between {
    justify-content: space-between !important;
}

.question-side-window {
    display: flex;
    display: -webkit-flex;
    margin: auto;
}

.question-hbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.align-self-center {
    align-self: center;
}

.question-vbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    margin: auto;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.question-vbox-clipboard {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    margin: auto;
    margin-top: 40px;
    height: auto;
    width: 100%;
    max-width: 70vw;
    justify-content: center;
}

.question-completion-fill {
    width: 50%;
    justify-content: stretch;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aaaaaa;
    color: white;
    text-align: center;
}

.question-head {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    min-width: 70%;
    max-width: 70%;
    justify-content: left;
    font-size: 2.2rem;
}

.question-item {
    font-size: 1.8rem;
}

.question-item input{
    font-size: 1.8rem;
}

.question-item .question-slider {
    min-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.slider-hbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
}

.question .question-body textarea {
    min-width: 70%;
    min-height: 150px;
    padding: 15px;
    font-size: 2.0rem !important;
}

.text-area-font {
    font-size: 2.0rem;
}

.question input {
    font-size: 2.0rem !important;
}

.question .question-body label span {
    font-size: 2.0rem !important;
}

div[class="text-area-font"], div[class*="MuiInputBase-root-"] {
    font-size: 2.0rem !important;
}

.question-checkbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
}

.question-required {
    align-self: center;
}

.footer .question-hbox  {
    align-items: center;
    justify-content: space-between;
    padding-left: 15vw;
    padding-right: 10px;
}

.survey-header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #aaaaaa;
    color: white;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    width: 100%;
    height: 3.6rem;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    z-index: 100;
}

.survey-contents .footer button span {
    font-size: 1.5rem;
}

.footer button :disabled {
    color: black;
    background-color: #e0e0e0;
}

.footer button, .continue-floater button {
    background-color: #7cb342;
    color: white;
}

.page-contents {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    margin-bottom: 10vh;
    margin-top: 3.6rem;
    overflow-y: scroll;
    width: 100%;
    justify-content: center;
    z-index: 1;
}

.page-header {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 2.2rem;
}

.completed-info {
    max-width: 70%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    font-size: 2.2rem;
}

.footer {
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 100;
}

.footer .right {
    margin-left: auto;
    margin-right: 10px;
}

.question-body legend {
    text-align: center;
}

.no-margin {
    min-width: 70%;
}

.question-width {
    width: 70% !important;
}

.likert-hbox {
    width: 100%;
    min-width: 70%;
}

.likert-radio {
    width: 27%;
}

.linkert-space {
    width:1%;
    margin-left:2%;
    margin-right:2%;
    background-color: lightgrey;
}

.mdc-form-field > label {
    margin-bottom: 0;
}

.mdc-checkbox-cursor > label {
    cursor:pointer;
}

.mdc-text-field--fullwidth textarea{
    min-width: 70vw !important;
    min-height: 200px !important;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: var(--mdc-theme-secondary, #018786) !important;
}

.iframe_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 2000;
}

.iframe_inner iframe{
    width: 100%;
    height: 90vh;
}

.continue-floater {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2010;
}

.margin-auto {
    margin-left: auto;
}

.mdc-linear-progress {
    width: 100% !important;
    height: 100% !important;
}

.mdc-linear-progress__bar-inner {
    position: relative !important;
}

.score_input {
    text-align: right;
    width: 60px;
}

.new_score_input_0 {
    background-color: #ffffff;
}

.new_score_input_diff {
    background-color: darkorange;
}

.question-tlx {
    margin-top: 14px;
    height: 80px;
    width: 100%;
}

.question-tlx canvas {
    height: 100%;
    width: 100%;
}

.question-tlx div {
    font-size: 1.2rem;
}

.side-window-height {
    min-height: 81vh;
}