
.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
    left: 1.8vh !important;
    right: 1.8vh  !important;
    bottom: 1.8vh  !important;
    top: 1.8vh  !important;
    padding: 0 !important;
    overflow-y: hidden;
    background-color: white;
    border-radius: 0.8rem !important;
    -moz-border-radius:  0.8rem !important;
    -webkit-border-radius:  0.8rem !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
    border: none;
    background-color: transparent;
}

.modal-exit-check {
    position: absolute;
    right: 30px;
    top: 9px;
    z-index: 1000;
    margin: auto;
    height: 4vh;
    width: auto;
    max-width: 4vh;
    max-height: 4vh;
}

.modal-title-line {
    margin-top: 4px;
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    margin-bottom:4px;

}

.modal-exit-check img {
    height: 100%;

}
/* override areas */

.modal-header {
    padding: 1.6vh;
}

.modal-body {
    padding: 8px;
    max-height: 100% !important;
    height: 100% !important;
}

.modal-dialog {
    margin: 5px;
}

.modal-content {
    background-image: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0.8rem !important;
    -moz-border-radius:  0.8rem !important;
    -webkit-border-radius:  0.8rem !important;
    border:0;
    background-color: white;
    right: 40px;
    left: 40px;
    top: 180px;
    bottom: 40px;
    position: absolute;
    z-index: 1008;
}

.modal-popup-screen-background {
    position: absolute;
    background-color: #80808080;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.modal-popup-content {
    height: auto !important;
    background-image: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0.8rem !important;
    -moz-border-radius:  0.8rem !important;
    -webkit-border-radius:  0.8rem !important;
    border:0;
    background-color: lightgoldenrodyellow;
}

.modal-footer {
    border: 0;
}

.modal-error {
    border: 2px #BC3A1E  solid;
    color: #BC3A1E;
}
