<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Load our custom stylesheet -->
    <link rel="stylesheet" href="dist/styles.css">
    <title>COGLE Survey - NORMAL</title>
  </head>
  <body>
    <div id="content" />
    <script type="text/javascript">
        logging = "{{ logging }}";
        reset_local = "{{ reset_local }}";
        some_stuff = 'abcd';
    </script>
    <script type="text/javascript" >
      function getRestInfo() { 
        return ({
          mode: '{{ result.mode }}' ,
          survey: '{{ result.survey }}',
          userId: '{{ result.userId }}',
          turkId: '{{ result.turkId }}'
        })
      }
    </script>
    <script src="dist/bundle.js" type="text/javascript" >
    </script>
  </body>
</html>
